/*STRUCTURE*/

body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 0.1fr 1.8fr 0.1fr;
    font-family: "Roboto", serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

header {
    font-family: "Bebas Neue", serif; 
    justify-content: space-between;
    align-items: center; 
    color: #ffffff;
    background-color: rgb(9, 40, 61);
    grid-column: 1 / 4;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
}

.header-middle{
  padding-left:25px;
}



.left-sidebar {
    grid-column: 1 / 2;
  }

  main {
    background-color: #ffffff;
    color:rgb(9, 40, 61);
    grid-column: 2 / 3;
    width: 100%;
    padding: 20px; 
    box-sizing: border-box;
     
}


.right-sidebar {
    grid-column: 3 / 4;
  }

footer {
    text-align: center;
    color: #ffffff;
    font-size: large;
    padding:10px;
    background-color: rgb(9, 40, 61);
    grid-column: 1 / 4;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
  }


.left-sidebar,
.right-sidebar {
    padding: 1rem;
    color:#1A1A1A;
    background: #ffffff;
}

/*HEADER STUFF*/


h1 {
	padding: 10px;
	color:#ffffff;
}

h2 {
    font-family: "Luckiest Guy", serif; 
}



.photo {
    width:150px;
    height:130px;
    border: 3px solid transparent; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    margin:10px;
    margin-left:40px;
}

/*END OF HEADER/*


/*NAVIGATION BAR*/

nav {
    margin:0px;
}



#navtitle{
    margin: auto 10px;
}

.navigation {
    list-style: none;
    display: flex;
    font-size: x-large;
    flex-wrap: wrap;
	align-items: center;
}
.navigation li {
	flex: 1 1 auto;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 1px 20px;  
    transition: transform 0.3s;
    text-align: center;
}

.navigation a:hover {
    transform: scale(1.20);
    color:rgb(40, 160, 240);
}

/*END OF NAVIGATION BAR*/

/*HAMBURGUER*/


.hamburger {
    display: none; 
    cursor: pointer;
    position: absolute; 
    right: 20px; 
    top: 20px; 
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #00BFFF;
}

/*END OF HAMBURGUER*/

/*BUTTONS*/


#toggle-view {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggle-view:hover {
    background-color: rgb(9, 40, 61);
}

/*END OF BUTTONS/*

/*MAIN SECTION DETAILS*/

p {
    margin: 5px 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

section {
    border: 1px solid #613f3f;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    text-align: center;
}




#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

#cards.list-view {
    display: flex;
    flex-direction: column; 
}

#cards.list-view section {
    width: 1000px; 
    margin: 0 auto; 
}

/*END OF MAIN SECTION DETAILS/*
    

/*FOOTER*/

/*FOOTER GRID STRUCTURE*/
.footer-column {
    padding: 5px;  
}
.left {
    text-align: left; 
}
.middle {
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    
}
.right {
    text-align: right; 
}

/*FOOTER GRID STRUCTURE*/
.leftsvg, 
.middlesvg, 
.rightsvg {
    width: 48px; /* Set the width */
    height: 48px; /* Set the height */
    padding:5px;
    transform: scale(1.5);
}

/*END OF FOOTER*/